%h1
  Your Time Logs
  .pull-right
    = link_to "add a time log", new_time_log_path, class: "btn btn-primary"

%table.table.table-hover#time_logs
  %thead
    %tr
      %th=sortable "student", "Student Name"
      %th=sortable "tutor", "Tutor Name"
      %th=sortable "date", "Date"
      %th Duration
      %th Notes
      %th
      %th
  %tbody
    - @time_logs.each do |time_log|
      %tr
        %td= time_log.student.name
        %td= time_log.user.name
        %td= time_log.session_date
        %td= display_hours(time_log.duration)
        %td= time_log.notes
        - if current_user?(time_log.user)
          %td
            = link_to edit_time_log_path(time_log), class: "btn btn-primary" do
              %i.fa.fa-edit.fa-lg
          %td
            = link_to time_log_path(time_log), method: :delete, class: "btn btn-danger" do
              %i.fa.fa-minus-circle.fa-lg
        -else
          %td
          %td
